.table-responsive::-webkit-scrollbar {
    width: 6px !important;
    height: 6px;
}
 
.table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important; 
    border-radius: 10px;
}
 
.table-responsive::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1) !important; 
}

.login-form label {
    padding: 8px 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    background-color: #79a0c3;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0.5px;
    min-width: 80px;
    text-align: center;
}

  .login-form .blank-label {
    display: none;
  }
  
  .login-form input[type="radio"]:checked + label {
      color: #010101;
      background-color: #ebc6c6;
      color: #000000;
      font-size: 13px;  
      letter-spacing: 0.5px;
  }
  .login-form input{
     display: none;
  }
  .dataTables_filter  label{
    float: right !important;
  }
  .login-form .custom-control-label::before{
      display: none;
  }
  .pos-rel-tb {
      position: relative;
      top: 6px;
  }
  .add-sub-task-btn {
    background-color: #ECF6FF;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ECF6FF;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-align: center;
    transition: all .3s ease-in-out 0s;
  }
  .add-sub-task-btn:hover {
    color: #000000;
    background-color: #F8ECEC;
  }
  .upload-img-btn {
    background-color: #F8ECEC;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0.5px;
    border: none;
  }
  .taskselect{
      font-weight: 700;
  }

  .dropify-wrapper{
    height: 130px !important;
  }
  .card-box,          .card {
    -webkit-box-shadow: 0 16px 32px 0 rgba(0,0,0,0.05) !important;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.05) !important;
    border-radius: 16px !important;
  }
.table-responsive{
  padding: 15px;
}
.set-size {
  position: relative;
}

.no-border-radius {
  border-radius: 0px!important;
}
/* zz */


@media (max-width:767px) {
  .card-box {
    padding: 1.5rem .8rem!important;
  }
  #agents-datatable_wrapper label {
    width: 100%;
  }
  #submitAgent .form-check-inline {
    margin-bottom: 12px;
  }
  .modal-body.p-4 {
    padding: 15px!important;
  }
  #task_form #googleMap {
    min-width: 100%!important;
  }
  #add_customer .modal-body.p-4 {
    padding: 0px!important;
  }
  #add_customer .card-box {
    box-shadow: none!important;
  }
  #pricing-datatable_length label, #pricing-datatable_filter label {
    width: 100%;
  }
  .card-body {
    padding: 1.5rem .5rem;
  }
  .map-wrapper {
    margin-top: 25px;
  }
  .bottom-content {
    width: 95%;
    background: transparent!important;
    box-shadow: none!important;
  }
  .bottom-content .datetime {
    background: #fff;
    padding: 9px;
    border-radius: 4px;
    width: 49%;
    margin-bottom: 5px;
  }
  .bottom-content .dropdown.d-inline-block {
    padding: 8px;
    border-radius: 4px;
    width: 49%;
    background: #fff;
    margin-bottom: 5px;
  }
  #addCardBox .card-box {
    padding: 8px;
  }
  .map-wrapper .contant .bottom-content {
    bottom: 0px;
  }
  .login-form label {
    font-size: 10px!important;
  }
  .login-form {
    text-align: left;
  }
  .map-wrapper .contant {
    left: 0;
    width: 80%;
    height: 100px;
    padding: 0px;
    display: inline-block;
    bottom: 10px;
}
.newchnageimage, .showsimagegall {
  margin-left: 0px!important;
}
#colorInput {
  text-align: center;
}
} 




@media (max-width: 991.98px){
.left-side-menu {
    display: none;
    z-index: 1000 !important;
}
}
.lite-box-brdr {
  border: 1px solid #ececec;
}

@media (min-width: 576px){
#task-modal-header .modal-dialog {
    max-width: 600px!important;
    margin: 1.75rem auto;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
  .map-wrapper .contant {
    width: 90%;
    height: 100px;
    padding: 10px;
  }
}

.modal{
  overflow:scroll !important;
}



/* customer page css */

  .intl-tel-input {
    display: table-cell;
  }

  .inner-div {
          width: 50%;
          float: left;
      }
  .intl-tel-input .selected-flag {
    z-index: 4;
  }
  .intl-tel-input .country-list {
    z-index: 5;
  }
  .input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
  }

  .modal.fadeIn {
    opacity:.4;
  }
  .pac-container, .pac-container .pac-item { z-index: 99999 !important; }


    #radio1, #radio2, #radio3, #radio4 {  
      -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
      transform: scale(1.2); }
  .showspan{
      font-weight: normal;
  }
  .showtasks{
      border: none;
      outline:none;
  }


  .assigned-block {
    background-color: #EAECFD;
  }
  .assigned-block h6 {
    color: #272727;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-top: 4px;
  } 
  .assigned-block span {
    color: #797979;
    font-size: 13px;
    letter-spacing: 0;
  }
  .assigned-block h5 {
    color: #272727;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
  }
  .assigned-block a {
    color: #797979;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0;
    border-bottom: 1px dashed #979797;
  }
  .assigned-btn {
    border-radius: 10px;
    background-color: rgb(44 129 255 / .21);
    color: #5664EA;
    padding: 4px 10px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 13px;
    border: none;
  }
  .wd-10{
      width: 6%;
      display: inline-block;
      vertical-align: top;
      padding-top: 4px;
  }
  .wd-90{
      width: 89%;
      display: inline-block;
  }
  .content-page {
    margin-left: 240px;

    padding: 0 15px 65px 15px;
    min-height: 80vh;
    margin-top: 70px;
    height: 98vh;
    overflow-y: scroll !important;
  }

  .dispaly-cards{
      background-color: rgb(251 247 247) !important;
      text-align: center;
      padding: 5px !important;
      
  }
  
  .setcolor{
      color: blue !important;
  }