.table-responsive::-webkit-scrollbar {
    width: 6px !important;
    height: 6px;
}
 
.table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important; 
    border-radius: 10px;
}
 
.table-responsive::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1) !important; 
}

.login-form label {
    padding: 8px 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    background-color: #79a0c3;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0.5px;
    min-width: 80px;
    text-align: center;
}

  .login-form .blank-label {
    display: none;
  }
  
  .login-form input[type="radio"]:checked + label {
      color: #010101;
      background-color: #ebc6c6;
      color: #000000;
      font-size: 13px;  
      letter-spacing: 0.5px;
  }
  .login-form input{
     display: none;
  }
  .dataTables_filter  label{
    float: right !important;
  }
  .login-form .custom-control-label::before{
      display: none;
  }
  .pos-rel-tb {
      position: relative;
      top: 6px;
  }
  .add-sub-task-btn {
    background-color: #ECF6FF;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ECF6FF;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-align: center;
    transition: all .3s ease-in-out 0s;
  }
  .add-sub-task-btn:hover {
    color: #000000;
    background-color: #F8ECEC;
  }
  .upload-img-btn {
    background-color: #F8ECEC;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0.5px;
    border: none;
  }
  .taskselect{
      font-weight: 700;
  }

  .dropify-wrapper{
    height: 130px !important;
  }
  .card-box,          .card {
    -webkit-box-shadow: 0 16px 32px 0 rgba(0,0,0,0.05) !important;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.05) !important;
    border-radius: 16px !important;
  }
.table-responsive{
  padding: 15px;
}
.set-size {
  position: relative;
}

.no-border-radius {
  border-radius: 0px!important;
}
#submitpayreceive .card-box {
    padding: 12px;
    border: 1px solid #dddddd4a;
    border-radius: 4px;
  }
  #submitpayreceive .card-box label {
    margin-bottom: 0px;
  }
/* zz */


@media (max-width:767px) {
  .dataTables_paginate ul {
    margin-bottom: 25px!important;
  }
  .small-mt-0 {
    margin-top: 0px!important;
  }
  .card-body .table-responsive {
    padding: 0px!important;
  }
  .rounded.book strong {
    display: block;
    margin-bottom: 15px;
  }
  #geo_form button {
    margin-bottom: 8px;
  }
  #submitpayreceive .card-box {
    padding: 8px;
  }

  #submitTeam .modal-body.p-4 {
    padding-bottom: 0!important;
  }
  #submitTeam .addTeamForm {
    width: 100%;
  }
  #adds {
    margin-bottom: 5px!important;
}
  #add_customer .card-box {
    padding-top: 0px!important;
  }
  #adds a {
    width: 100%;
    border-radius: 4px;
  }
  #add_customer .pl-4.pr-4.pt-4 {
    padding: 0px!important;
  }
  #colorInput label {
    float: left;
  }
  #show-map-modal .btn.btn-blue.waves-effect.waves-light.selectMapLocation, #submitAgent .btn.btn-blue.waves-effect.waves-light, #submitpayreceive .btn.btn-blue.waves-effect.waves-light {
    width: 100%;
  }
  #add_customer .btn.btn-blue.waves-effect.waves-light.submitCustomerForm {
    width: 100%;
  }
  #UpdateClient .btn.btn-blue.waves-effect.waves-light {
    width: 100%;
  }
  #UpdateClient h1 {
    font-size: 38px!important;
  }
  li.paginate_button.previous, li.paginate_button.next {
    display: inline-block;
    font-size: 1rem!important;
  }
  #taskFormHeader .modal-footer {
    padding-top: 0px!important;
  }
  #taskFormHeader .submitTaskHeader {
    width: 100%;
  }
  #task_form_header #googleMapHeader {
    min-width: 100%!important;
  }
  #taskFormHeader .modal-body {
    padding-bottom: 0px!important;
  }
  #agents-datatable_wrapper label {
    width: 100%;
  }
  #submitAgent .form-check-inline {
    margin-bottom: 12px;
  }
  .modal-body.p-4 {
    padding: 15px!important;
  }
  #task_form #googleMap {
    min-width: 100%!important;
  }
  #add_customer .modal-body.p-4 {
    padding: 0px!important;
  }
  #add_customer .card-box {
    box-shadow: none!important;
  }
  #pricing-datatable_length label, #pricing-datatable_filter label {
    width: 100%;
  }
  #addCardBox .datenow input {
    margin-bottom: 8px;
  }
  .card-body {
    padding: 1.5rem 1rem;
  }
  .card-box {
    padding: 1.5rem 1rem;
  }
  .map-wrapper {
    margin-top: 25px;
  }
  .bottom-content {
    width: 95%;
    background: transparent!important;
    box-shadow: none!important;
  }
  .bottom-content .datetime {
    background: #fff;
    padding: 9px;
    border-radius: 4px;
    width: 49%;
    margin-bottom: 5px;
  }
  .bottom-content .dropdown.d-inline-block {
    padding: 8px;
    border-radius: 4px;
    width: 49%;
    background: #fff;
    margin-bottom: 5px;
  }
  #addCardBox .card-box {
    padding: 8px;
  }
  .map-wrapper .contant .bottom-content {
    bottom: 0px;
  }
  .login-form label {
    font-size: 10px!important;
  }
  .login-form {
    text-align: left;
  }
  .map-wrapper .contant {
    left: 0;
    width: 80%;
    height: 100px;
    padding: 0px;
    display: inline-block;
    bottom: 10px;
}
.newchnageimage, .showsimagegall {
  margin-left: 0px!important;
}
#colorInput {
  text-align: center;
}
} 




@media (max-width: 991.98px){
.left-side-menu {
    display: none;
    z-index: 1000 !important;
}
}
.lite-box-brdr {
  border: 1px solid #ececec;
}

@media (min-width: 576px){
#task-modal-header .modal-dialog {
    max-width: 600px!important;
    margin: 1.75rem auto;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
  .map-wrapper .contant {
    width: 90%;
    height: 100px;
    padding: 10px;
  }
}

.modal{
  overflow:scroll !important;
}